<!DOCTYPE html>
<html>
<head>
  <title>The Ruby Refresher</title>
  <link href='http://fonts.googleapis.com/css?family=Inika' rel='stylesheet'
        type='text/css' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata'
        rel='stylesheet' type='text/css' />
  <link href='refresher.css' rel='stylesheet' type='text/css' />
</head>

<body>
  <div id="wrapper">
  <div id="the_refresher">
    <%= the_refresher %>
  </div>

  <div id="license">
    <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">The Ruby Refresher</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://0xfe.muthanna.com/rubyrefresher" property="cc:attributionName" rel="cc:attributionURL">Mohit Muthanna Cheppudira</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
  </div>
  </div>
</body>
</html>
